<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://thymeleaf.org" lang="pt-br">

<head th:replace="~{fragments/head :: head(title = 'Agenda')}"></head>

<body>

    <header th:replace="~{fragments/nav :: nav}"></header>
    <div class="d-flex w-100 justify-content-center pt-2">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/agenda}">Agenda</a></li>
                <li class="breadcrumb-item active" aria-current="page">Adicionar</li>
            </ol>
        </nav>
    </div>

    <div th:if="${error}" th:insert="~{fragments/alert :: alert(text=${error}, type='error')}"></div>

    <main class="container vh-100 text-center" th:if="${eventEdit != null}">
        <form th:action="@{/agenda/add}" th:method="post" th:object="${eventEdit}">
            <div class="p-5">
                <div class="mb-3 row">
                    <label for="eventName" class="col-sm-2 col-form-label">Nome</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="eventName" th:field="*{name}" th:value="${eventEdit.name}">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="eventDesc" class="col-sm-2 col-form-label">Descrição</label>
                    <div class="col-sm-10">
                        <textarea rows="3" class="form-control" id="eventDesc" th:field="*{description}" th:text="${eventEdit.description}">
                        </textarea>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="eventDate" class="col-sm-2 col-form-label">Data</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" id="eventDate"
                            th:value="${#temporals.format(eventEdit.date, 'yyyy-MM-dd')}"
                            name="date"
                            >
                    </div>
                </div>

                <div class="mb-3 row">
                    <div class="col">
                        <button type="submit" class="btn btn-info">Salvar</button>
                    </div>
                </div>
            </div>
        </form>
    </main>

    <script th:replace="~{fragments/scripts :: script}"></script>
</body>

</html>